@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,700;0,900;1,700;1,900&display=swap');

body {
  padding: 0;
  background: #1d0a31;
  margin: 0;
}

div {
  z-index: 9999;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  align-items: center; /* Vertically align items in the center */
  justify-content: center; /* Horizontally align items in the center */
}
img {
  width: 40%;
  filter: drop-shadow(1px 1px 12px #ffffff);
}

.titel {
  width: 60%;
  filter: drop-shadow(1px 1px 12px #ffffff);
}

h1 {
  color: white;
  font-weight: 900;
  font-family: 'Rubik', sans-serif;
  font-size: 55pt;
  text-align: center;
  filter: drop-shadow(1px 1px 12px #ffffff);
}
